:root {
  --primary: #4392F1;
  --secondary: #EF8833;
  --light: #ECE8EF;
  --dark: #58676A;
}

body {
  font-size: large;
  margin: 0;
  background-color: var(--light);
  font-family: "Rubik", 'Times New Roman', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.primary {
  color: var(--primary);
  border-radius: 1rem;
}

button.primary:hover {
  color: var(--primary);
}

.primary-btn {
  background-color: var(--primary);
  color: #FFF;
  border: none;
  border-radius: 1em;
  padding: 0.8em;
}

.primary-btn:hover {
  font-weight: 500;
  background-color: white;
  color: var(--primary);
  border: var(--primary) solid 0.15em;
  border-radius: 1em;
  padding: 0.65em;
}

.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.form {
  padding: 1.5em;
  border-radius: 5%;
  background-color: white;
  display: flex;
  flex-flow: column;
}

.form *:not(a) {
  font-size: 1rem;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.form .input-group input {
  border: 2.5px var(--dark) solid;
  padding: 0.7em;
  border-radius: 1em;
}

.alt-link {
  margin-top: 1em;
  color: var(--primary);
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 200;
  text-align: center;
}